<div class="items-list">
  <app-item
   appBorderColor
   [item]="item"
   [itemPicURL]="item.snippet.thumbnails.high.url"
   [itemViews]="item.statistics?.viewCount"
   [itemLikes]="item.statistics?.likeCount"
   [itemDislikes]="item.statistics?.dislikeCount"
   [itemComments]="item.statistics?.commentCount"
   [itemTitle]="item.snippet.title.length>=65
     ?item.snippet.title.slice(0,65)+'...'
     :item.snippet.title"
   [itemDate]="item.snippet.publishedAt"
   class="item"  *ngFor="let item of items | filter : filterInputNew | sort : sortStateNew"
  >
  </app-item>
</div>

