.stats-div{
  margin: 1.25rem 0;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  font-size: 0.75rem;
  * {
    display: flex;
    height: 0.75rem;
  }
}
.more-btn{
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  bottom: 0.8rem;
  width: 7rem;
  margin-left: 4rem;
  margin-right: 4rem;
  height: 2rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  background-color: #2f80ed;
  cursor: pointer;
  box-shadow: 0.1rem 0 0.2rem #2F80ED;
  justify-items: center;
  transition: 0.2s;
}

.more-btn:hover {
  transform: scale(1.05);
  background-color: #5EA2FF;
}
