<app-picture [pictureURL]="itemPicURL">

</app-picture>
<div class="stats-div">
  <app-views class="stats-wrap" [viewsCount]="itemViews">

  </app-views>
  <app-likes class="stats-wrap" [likesCount]="itemLikes">

  </app-likes>
  <app-dislikes class="stats-wrap" [dislikesCount]="itemDislikes">

  </app-dislikes>
  <app-comments class="stats-wrap" [commentsCount]="itemComments">

  </app-comments>
</div>
<app-title [titleName]="itemTitle">

</app-title>
<button class="more-btn" type="button" (click)="onMoreBtnClick(item)">more...</button>

