.stats-div{
  margin-top: 1.25rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 0.75rem;
 
  .stats-wrap {
    display: flex;
    align-items: center;
    height: 0.75rem;

    img {
      margin-right: 0.2rem;
    }
  }

}

.more-btn {
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  bottom: 0.8rem;
  width: 7rem;
  height: 2rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  background-color: #2f80ed;
  cursor: pointer;
  box-shadow: 0.1rem 0 0.2rem #2F80ED;
  justify-items: center;
  transition: 0.2s;
}

.more-btn:hover {
  transform: scale(1.05);
  background-color: #5EA2FF;
}


@media screen and (max-width:1050px) {     
  .stats-wrap {
    font-size: 0.9rem;
  }

  .more-btn {
    width: 9rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }
}


@media screen and (max-width:700px) {   
  .stats-wrap {
    font-size: 1.3rem;
  }

  .more-btn {
    margin-bottom: 1.5rem;
    width: 13.5rem;
    height: 3.3rem;
    font-size: 1.5rem;
  }
}


@media screen and (max-width:630px) { 
  .stats-wrap {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
  
  .more-btn {
    width: 17rem;
    height: 4rem;
    font-size: 1.8rem;
  }
}


@media screen and (max-width:440px) {  
  .stats-wrap {
    margin-top: 2rem;
    font-size: 1.8rem;
  }
  
  .more-btn {
    width: 17rem;
    height: 4.5rem;
    font-size: 2.2rem;
  }
}


@media screen and (max-width:400px) { 
  .stats-wrap {
    margin-top: 3rem;
    font-size: 2.2rem;
  }

  .more-btn {
    width: 25rem;
    height: 5.5rem;
    font-size: 2.5rem;
  }
}

