.login-area{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login-user-caption{
  margin-right: 0.5rem;
  font-size: 0.75rem;
}
.login-img{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
