.items-list{
  width: 70rem;
  margin: 2rem auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.item{
  display: grid;
  border: 1px solid orangered;
  border-radius: 1rem;
  overflow: hidden;
}
