<!--
<div class="filters-wrapper">
  <app-filters class="wrapper" *ngIf="isFiltersActive">
  -->
<div class="filters">
  <div class="filters-caption">
    Sorting by:
  </div>
  <div class="div-filter">
    <a href="" class="filter-link">
      date
    </a>
  </div>
  <div class="div-filter">
    <a href="" class="filter-link">
      count of views
    </a>
  </div>
  <div class="div-filter">
    <a href="" class="filter-link">
      word or sentence
    </a>
    <input type="text" [ngModel]="inputVal" (ngModelChange)="onInputChange($event)" (formInput)="inputVal">
  </div>
</div>
 <!--
  </app-filters>
</div>
-->

