.filters{
  height: 100%;
  width: 50rem;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  .sort-btn{
    border: none;
    background: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  .sort-btn:hover{
    color: rgb(0, 81, 255, 0.8);
  }
}
.filters-caption{
  justify-self: flex-end;
}
