.not-found_wrapper {
  margin: 0 auto;
  margin-top: 38vh;
  width: 360px;
  display: flex;
  align-items: center;
}

.not-found_text {
  margin-left: 27px;
  font-size: 24px;
  font-weight: 700;
  color: #828282;
}
